{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">
    <h1>Welcome to Top Picks</h1>
    <br>
    <p>
      This is a website where you can figure out what movies are actually in your top <strong>"n"</strong> list.
      <!-- small text: use a pc for a better experience -->
      <br>
      <p>
        <small>
          <span>Please use a pc for a better experience. The site works on, but is not optimized for mobile.</span>
        </small>
      </p>  
    </p>
  </p>
  The usage is sooper easy. <br>
  <div class="text-left">

    1. Login using your telegram account. <br>
    2. Search for movies you've watched and mark them as seen. (Pick a bunch for better results) <br>
    3. Rank movies you've seen by pitting 2 of them against each other head on. <br>
    4. See the top <strong>"n"</strong> movies you've seen.
  </div>

  <!-- Additionally you can get a publically shareable link to your profile so you can share your top picks with other people too -->
  <br>
  <p>
    <small>Additionally you can get a publically shareable link to your profile so you can share your top picks with other people too. You can get the link by clicking the dropdown menu in the top right corner after you've logged in.</small>
  </p>
</div>
{% endblock content %}
