{% extends '_base.html' %}

{% block title %}Discover Movies{% endblock %}

{% block content %}

<style>

    #board {
        width: 100%;
        height: 100%;
        min-height: 100%;
        /* position: relative; */
        /* overflow: hidden; */
        background-color: rgb(245, 247, 250);
    }

    .card {
        width: 320px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 1%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        background-color: white;
        transform: translateX(-50%) translateY(-50%) scale(0.95);
    }
</style>
</head>

<body>
    <div id="board">
        
    </div>
    <!-- small alert box at the bottom of screen -->
    {% if not object_list %}
        <div class="alert alert-info text-center">
            <small>Search for other movies on the search bar above.</small>
            
        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            <small>This is an experimental feature. Please use with caution.</small>
            <p>Swipe right on a movie to mark is as seen. Swipe left to mark it as not seen.</p>
        </div>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script>
        /* LikeCarousel (c) 2019 Simone P.M. github.com/simonepm - Licensed MIT */

        class Carousel {

            constructor(element) {

                this.board = element

                // handle gestures
                this.handle()

            }

            handle() {

                // list all cards
                this.cards = this.board.querySelectorAll('.card')

                // get top card
                this.topCard = this.cards[this.cards.length - 1]

                // get next card
                this.nextCard = this.cards[this.cards.length - 2]

                // if at least one card is present
                if (this.cards.length > 0) {

                    // set default top card position and scale
                    this.topCard.style.transform =
                        'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(0deg) scale(1)'

                    // destroy previous Hammer instance, if present
                    if (this.hammer) this.hammer.destroy()

                    // listen for tap and pan gestures on top card
                    this.hammer = new Hammer(this.topCard)
                    this.hammer.add(new Hammer.Tap())
                    this.hammer.add(new Hammer.Pan({
                        position: Hammer.position_ALL,
                        threshold: 0
                    }))

                    // pass events data to custom callbacks
                    this.hammer.on('tap', (e) => {
                        this.onTap(e)
                    })
                    this.hammer.on('pan', (e) => {
                        this.onPan(e)
                    })

                }

            }

            onTap(e) {

                // get finger position on top card
                let propX = (e.center.x - e.target.getBoundingClientRect().left) / e.target.clientWidth

                // get rotation degrees around Y axis (+/- 15) based on finger position
                let rotateY = 15 * (propX < 0.05 ? -1 : 1)

                // enable transform transition
                this.topCard.style.transition = 'transform 100ms ease-out'

                // apply rotation around Y axis
                this.topCard.style.transform =
                    'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(' + rotateY + 'deg) scale(1)'

                // wait for transition end
                setTimeout(() => {
                    // reset transform properties
                    this.topCard.style.transform =
                        'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(0deg) scale(1)'
                }, 100)

            }

            onPan(e) {

                if (!this.isPanning) {

                    this.isPanning = true

                    // remove transition properties
                    this.topCard.style.transition = null
                    if (this.nextCard) this.nextCard.style.transition = null

                    // get top card coordinates in pixels
                    let style = window.getComputedStyle(this.topCard)
                    let mx = style.transform.match(/^matrix\((.+)\)$/)
                    this.startPosX = mx ? parseFloat(mx[1].split(', ')[4]) : 0
                    this.startPosY = mx ? parseFloat(mx[1].split(', ')[5]) : 0

                    // get top card bounds
                    let bounds = this.topCard.getBoundingClientRect()

                    // get finger position on top card, top (1) or bottom (-1)
                    this.isDraggingFrom =
                        (e.center.y - bounds.top) > this.topCard.clientHeight / 2 ? -1 : 1

                }

                // get new coordinates
                let posX = e.deltaX + this.startPosX
                let posY = e.deltaY + this.startPosY

                // get ratio between swiped pixels and the axes
                let propX = e.deltaX / this.board.clientWidth
                let propY = e.deltaY / this.board.clientHeight

                // get swipe direction, left (-1) or right (1)
                let dirX = e.deltaX < 0 ? -1 : 1

                // get degrees of rotation, between 0 and +/- 45
                let deg = this.isDraggingFrom * dirX * Math.abs(propX) * 45

                // get scale ratio, between .95 and 1
                let scale = (95 + (5 * Math.abs(propX))) / 100

                // move and rotate top card
                this.topCard.style.transform =
                    'translateX(' + posX + 'px) translateY(' + posY + 'px) rotate(' + deg + 'deg) rotateY(0deg) scale(1)'

                // scale up next card
                if (this.nextCard) this.nextCard.style.transform =
                    'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(0deg) scale(' + scale + ')'

                if (e.isFinal) {

                    this.isPanning = false

                    let successful = false

                    // set back transition properties
                    this.topCard.style.transition = 'transform 200ms ease-out'
                    if (this.nextCard) this.nextCard.style.transition = 'transform 100ms linear'

                    // check threshold and movement direction
                    if (propX > 0.25 && e.direction == Hammer.DIRECTION_RIGHT) {

                        successful = true
                        // get right border position
                        posX = this.board.clientWidth

                    } else if (propX < -0.25 && e.direction == Hammer.DIRECTION_LEFT) {

                        successful = true
                        // get left border position
                        posX = -(this.board.clientWidth + this.topCard.clientWidth)

                    } else if (propY < -0.25 && e.direction == Hammer.DIRECTION_UP) {

                        successful = true
                        // get top border position
                        posY = -(this.board.clientHeight + this.topCard.clientHeight)

                    }

                    if (successful) {

                        // throw card in the chosen direction
                        this.topCard.style.transform =
                            'translateX(' + posX + 'px) translateY(' + posY + 'px) rotate(' + deg + 'deg)'
                        

                        let direction = dirX == 1 ? 'right' : 'left'
                        
                        if(direction == 'right'){
                            left_swiped(this.topCard.getAttribute('data-id'))
                        }
                        else{
                            right_swiped(this.topCard.getAttribute('data-id'))
                        }
                        // remove top card
                        setTimeout(() => {
                            this.topCard.parentNode.removeChild(this.topCard)
                            this.handle()
                        }, 200);

                    } else {

                        // reset cards position and size
                        this.topCard.style.transform =
                            'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(0deg) scale(1)'
                        if (this.nextCard) this.nextCard.style.transform =
                            'translateX(-50%) translateY(-50%) rotate(0deg) rotateY(0deg) scale(0.95)'

                    }

                }

            }

            push(id, name, image, year) {

                let name_div = document.createElement('h5')
                name_div.innerHTML = name
                name_div.classList.add('card-title')
                name_div.classList.add('text-center')

                let image_div = document.createElement('div')
                image_div.className = 'image'
                image_div.style.backgroundImage = 'url(' + image + ')'
                image_div.style.height = '400px'
                
                let year_div = document.createElement('div')
                year_div.className = 'year'
                year_div.classList.add('text-center')
                year_div.innerHTML = `Released in ${year}`

                let br = document.createElement('br')
                
                let card_body = document.createElement('div')
                card_body.className = 'card-body'
                card_body.appendChild(name_div)
                card_body.appendChild(image_div)
                card_body.appendChild(year_div)
                card_body.appendChild(br)

                
                let card = document.createElement('div')

                card.classList.add('card')
                card.setAttribute('data-id', id)
                
                card.appendChild(card_body)

                this.board.insertBefore(card, this.board.firstChild)
                this.handle()
            }

        }

        let board = document.querySelector('#board')

        let carousel = new Carousel(board)
        {% for obj in object_list %}
            carousel.push('{{ obj.id }}', '{{ obj.title }}', '{{ obj.poster }}', '{{ obj.year }}')
        {% endfor %}
        carousel.handle()
        
        function left_swiped(id){
            console.log("Swiped left: " + id)
            // call api/seen/{id} 
            fetch('/api/seen/' + id, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
        function right_swiped(id){
            console.log("Swiped right: " + id)
            // call api/notseen/{id}
            fetch('/api/notseen/' + id, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
        
        </script>
        
        
{% endblock content %}