{% extends '_base.html' %}

{% block title %}Rank Movies{% endblock %}

{% block content %}

<!-- A div split left and right with a vertical separator showing only one card each -->
<div>
    {% if movies %}
    <div class="row">
        <div class="col-md-6 border-right">
            <div class="card text-center hover-shadow">
                <div class="card-body">
                    <img src="{{ movies.0.poster }}" alt="Movie 1">
                    <h3>{{movies.0.title}}</h3>
                    <p>Released: {{movies.0.year}}</p>
                    <a href="{% url 'compare' movies.0.id movies.1.id 1 %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="card text-center hover-shadow">
                <div class="card-body">
                    <img src="{{ movies.1.poster }}" alt="Movie 2">
                    <h3>{{movies.1.title}}</h3>
                    <p>Released: {{movies.1.year}}</p>
                    <a href="{% url 'compare' movies.0.id movies.1.id 0 %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info text-center">
        <strong>Select a few more movies you've seen. You have ranked every one!</strong><br>
        <span>Search for other movies on the search bar above.</span>
    </div>  
    {% endif %}
</div>

<style>
    .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>

{% endblock content %}