{% extends '_base.html' %}

{% block title %}Watched Movies{% endblock %}

{% block content %}

<h3>Watched Movies</h3>

<!-- container, cards insied container, movies with title, image and year -->
<div class="container">
    {% if page_obj|length > 0 %}
    <div class="row">
        {% for movie in page_obj %}
        <div class="col-md-4">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">{{ movie.title }}</h5>
                <img src="{{ movie.poster }}" class="img-fluid card-img-top">
                <br>
                <!-- oops haven't watched it yet -->
            <a href="{% url 'unsee' movie.id %}" class="btn btn-outline-danger btn-block">Mark not seen</a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
        <!-- paginate -->   
        {% if page_obj.has_previous %}
            <a href="{% url 'watched_movies'%}?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="{% url 'watched_movies' %}?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
        {% endif %}
    {% else %}
        <div class="col-md-12">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">No movies found</h5>
            </div>
            </div>
        </div>
    {% endif %}
</div>

<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
{% endblock %}